:root {
  --primery-color: #757575;
  --title-color: #E5E5E5;
  --title-text-colors: #212121;
  --accent-color: #2196F3;
  --logo-color: #000000;
  --hero-text-color: #FFFFFF;
  --fon-color: #2F303A;
  --fon-color-button: #f5f4fa;
  --fon-knob: #188ce8;
  --fon-icon: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  background-color: #E5E5E5;
  color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.container .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--logo-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.logo {
  font-family: 'Raleway', sans-serif;
}

.logo:hover {
  color: var(--accent-color);
}

.page-header {
  background-color: var(--hero-text-color);
}

.web {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--title-text-colors);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contact-nav .link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--primery-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-left: 93px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  text-decoration: none;
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}

.current::after {
  opacity: 1;
}

.current {
  position: relative;
}

.contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  margin-top: 0;
  margin-left: auto;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.item-icon .link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.icon-mail, .icon-tel {
  margin-right: 10px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.element-style {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.hero {
  background-color: var(--fon-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heroimg (1).jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heroimg (1).jpg");
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
}

/* ----------BUTTON---------- */
.button-link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  cursor: pointer;
  border-radius: 4px;
}

.button-link {
  background-color: var(--fon-knob);
  color: var(--hero-text-color);
}

.button-link:hover,
.button-link:focus {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}

.priorities-list {
  margin-bottom: 10px;
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-colors);
}

.priorities {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primery-color);
}

.priorities-list .item {
  background-color: var(--title-color);
}

.priorities-list-title {
  text-transform: none;
}

.priorities-list-title {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.priorities-item {
  padding-top: 94px;
  padding-bottom: 94px;
}

.priorities-logos {
  display: block;
}

.priorities-box:not(:last-child) {
  margin-right: 30px;
}

.priorities-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-color: var(--fon-color-button);
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
}

.section-work {
  padding-bottom: 94px;
}

.section-works {
  margin-bottom: 50px;
  margin-top: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-colors);
}

.section-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-item {
  width: 370px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item {
  position: relative;
}

.work-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--hero-text-color);
}

.section-command {
  padding-top: 94px;
  padding-bottom: 94px;
}

.command {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--title-text-colors);
}

.command-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--hero-text-color);
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

.section {
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--title-text-colors);
}

.section-title {
  font-style: normal;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primery-color);
}

.section-command {
  background-color: var(--fon-color-button);
}

.command-list {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.command-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.command-social-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.command-social-icon:hover,
.command-social-icon:focus {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
}

.command-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  fill: var(--fon-icon);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.command-social-style:not(:last-child) {
  margin-right: 10px;
}

.command-social-network {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.clients-title {
  display: block;
  font-weight: 700px;
  font-size: 36px;
  margin-bottom: 50px;
  margin-top: 0;
  text-align: center;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-link {
  border: 1px solid #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border-radius: 4px;
  color: var(--fon-icon);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-item {
  display: inline-block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--hero-text-color);
}

.logo-item {
  font-family: 'Raleway', sans-serif;
}

.web {
  color: var(--accent-color);
}

/* ----------ADRESS---------- */
.adress-live {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
}

.contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: var(--fon-color);
}

.contact {
  text-decoration: none;
}

.contact-list {
  margin-bottom: 0;
  padding-left: 0;
}

.mail {
  margin-bottom: 9px;
}

.town-street {
  margin-top: 0;
  margin-bottom: 0;
}

.footer-social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

svg .footer-social-svg {
  width: 20px;
  height: 20px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-icon {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 70px;
}

.join-title {
  display: block;
  color: var(--hero-text-color);
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: bold;
  font-size: 14px;
  line-height: 16px;
}

.footer-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: var(--hero-text-color);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-list:not(:last-child) {
  margin-right: 10px;
}

.mailing-form {
  margin-left: 93px;
}

.mailing-title {
  display: block;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--hero-text-color);
}

.mailing-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mailing-sign-input {
  margin-right: 12px;
}

.mailing-input {
  display: block;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  color: var(--hero-text-color);
  background-color: var(--fon-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}

.mailing-input:focus {
  border-color: var(--accent-color);
}

.mailing-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.mailing-text {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  margin-right: 10px;
  margin-left: 29px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--hero-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  height: 581px;
  width: 528px;
  background-color: var(--hero-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: var(--hero-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.btn:hover {
  fill: var(--accent-color);
}

.modal-heading {
  display: block;
  text-align: center;
  margin: 0 auto 12px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primery-color);
}

.form-field {
  padding-left: 40px;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-wrap {
  display: block;
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  z-index: 3;
  fill: var(--title-text-colors);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-input {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  padding-left: 40px;
}

.comment-textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.comment-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primery-color);
}

.comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primery-color);
}

.comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primery-color);
}

.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primery-color);
}

.modal-form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 30px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.checkbox-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primery-color);
  margin: 0 auto;
}

.checkbox-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--title-text-colors);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}

.checkbox:checked + .checkbox-text .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-icon:hover,
.checkbox-icon:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-pact {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-button {
  display: block;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  color: var(--hero-text-color);
  background-color: var(--fon-knob);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
/*# sourceMappingURL=main.css.map */