.section-command {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--fon-color-button);
}

.command { 
margin-top: 0;
margin-bottom: 50px;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-colors);
    }

.command__item {
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--hero-text-color);
    &:not(:last-child) {
        margin-right: 30px;
        }
    }

.section {
margin-bottom: 10px;
margin-top: 0;
text-align: center;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--title-text-colors);
    }

.section__title {
font-style: normal;
font-weight: normal;
margin-top: 0;
text-align: center;
margin-bottom: 16px;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: var(--primery-color);
}    

.command-list {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    display: flex;
    }

.command-link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}