.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--fon-color);
    }

.logo__item {
    display: inline-block;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    color: var(--hero-text-color);
    font-family: 'Raleway', sans-serif;
 }
  
.web {
    color: var(--accent-color);
    }

/* ----------ADRESS---------- */

.adress__live {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
    }

.contact {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    & {
        text-decoration: none;
        }
    }

.contact__list {
    margin-bottom: 0;
    padding-left: 0;
    }

.mail {
    margin-bottom: 9px;
    } 

.town__street {
    margin-top: 0;
    margin-bottom: 0;
    }