.page-header .container {
    display: flex;
}

.page-header {
    border-bottom: 1px solid #ECECEC;
    }

.container .main-nav {
    display: flex;
    align-items: center;
    }

.logo {
    text-decoration: none;
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    color: var(--logo-color);
    transition: color 250ms var(--timing-function);
}

.logo {
    font-family: 'Raleway', sans-serif;
      }
    
.logo:hover  {
    color: var(--accent-color);
    }

    .page-header {
    background-color: var(--hero-text-color);
    }

    .web {
        color: var(--accent-color);
      }


.site-nav .link {
display: block;
padding-top: 32px;
padding-bottom: 32px;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: var(--title-text-colors);
transition: color 250ms var(--timing-function);
}

.contact-nav .link {
display: block;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: var(--primery-color);
}

.site-nav .link:hover,  
.site-nav .link:focus {
    color: var(--accent-color);
 }

 .site-nav .link.current {
    color: var(--accent-color);
     }

.site-nav {
    display: flex;
    margin-top: 0;
    margin-left: 93px;
    }

.site-nav .item:last-child {
    margin-right: 0;
}

.site-nav .item {
    margin-right: 50px;
    }

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    text-decoration: none;
}
.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
    }

.current::after {
        opacity: 1;
    }

.current {
    position: relative;
}


.contact-nav {
display: flex;
margin-left: auto;
align-items: center;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
display: flex;
margin-top: 0; 
margin-left: auto;
}

.contact-nav .link:hover,
.contact-nav .link:focus {
    color: var(--accent-color);
}

.contact-nav .item + .item {
    margin-left: 50px;
    }

.item-icon .link {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 30px;
    transition: color 250ms var(--timing-function);
}

.icon-mail, .icon-tel {
    margin-right: 10px;
}