/* ----------BUTTON---------- */

.button-link {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    & {
        background-color: var(--fon-knob);
        color: var(--hero-text-color);
    }
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--hero-text-color);
    }
}

