.footer-social-network {
    display: flex;
    align-items: center;
    justify-content: center;
    }

svg .footer-social-svg{
    width: 20px;
    height: 20px;
    }

footer .container {
    display: flex;
    align-items: baseline;
    }

.footer-icon {
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    }

.join-title {
    display: block;
    color: var(--hero-text-color);
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    font-style: bold;
    font-size: 14px;
    line-height: 16px;
    }

.footer-social-icon {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    }

.footer-social-link {
    display: flex;
    width: 44px;
    height: 44px;
    fill: var(--hero-text-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function); 
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    fill: var(--hero-text-color);
    }  
}

.footer-social-list {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
        margin-right: 10px;
    }
}
    
