:root {
    --primery-color: #757575;
    --title-color: #E5E5E5;
    --title-text-colors: #212121;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --hero-text-color: #FFFFFF;
    --fon-color: #2F303A;
    --fon-color-button: #f5f4fa;
    --fon-knob: #188ce8;
    --fon-icon: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

$secondaryFont: 'Raleway', sans-serif;
$primaryFont: 'Roboto', sans-serif;
